.options {

  @maxWidth   : 21em;

  margin-left : ~'calc((100vw - @{maxWidth})/2)';
  max-width   : @maxWidth;
  width       : @maxWidth;

  padding     : 2em 0 4em 0;
  box-sizing  : border-box;

  bottom      : initial !important;
  left        : initial !important;
  right       : initial !important;
}