.rules {
  
  @maxWidth     : 30em;
  @maxHeight    : 23em;
  
  margin-left   : ~'calc((100vw - @{maxWidth})/2)';
  max-width     : @maxWidth;
  width         : @maxWidth;
  
  margin-top : 1em;
  max-height : @maxHeight;
  height     : @maxHeight; 
  
  a:link    ,
  a:visited ,
  a:hover   ,
  a:active {
    color     : greenyellow;
  }
  
  .image {
    background-image: url('res/rule.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 0 1.5em;
    height: 6.4em;
    width: 8.4em;
    float: right;
    border: 0.5em green solid;
    background-color: green;
    border-radius: 0.5em;
  }
}
