[class*="stack"] {
  & > .face {
    background-image  : data-uri('../../../res/back_stack.png');
    font-family       : 'm3w-card';
    position          : absolute;
  }
  & > .card {
    top: 0;
  }
  .card.flipped > .card:not(.flipped) {
    top: 10%;
  }
  :not(:first-child) .card:not(.flipped) {
    top: 20%;
  }
  :not(:first-child) .card.flipped {
    top: 10%;
  }
}
