@import 'styles/controls/popup'                     ;
@import 'styles/controls/popup/checkbox'            ;
@import 'styles/controls/popup/radio'               ;

@import 'styles/components/board'                   ;
@import 'styles/components/board/card'              ;
@import 'styles/components/board/card/sizes/medium' ;
@import 'styles/components/board/card/sizes/mini'   ;
@import 'styles/components/board/holder'            ;
@import 'styles/components/board/holder/deck'       ;
@import 'styles/components/board/holder/home'       ;
@import 'styles/components/board/holder/open'       ;
@import 'styles/components/board/holder/stack'      ;
@import 'styles/components/board/status'            ;
@import 'styles/components/board/watermark'         ;

@import 'styles/components/menu'                    ;

@import 'styles/components/popup/records'           ;
@import 'styles/components/popup/rules'             ;
@import 'styles/components/popup/options'           ;

@import 'styles/layout/layout-common'               ;
@import 'styles/layout/layout-0'                    ;
@import 'styles/layout/layout-1'                    ;
@import 'styles/layout/layout-2'                    ;

@font-face {
  font-family: 'm3w-card';
  src: data-uri('res/solcard.woff') format('woff');
}

html {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  background-size: 100vw 100vh;
  background-image: svg-gradient(ellipse at center, #22ad32 0%,#001100 100%);
}

body {
  margin: 0;
  overflow: hidden;
}

/**
 * Disabling text selections for menu buttons, cards etc
 */
:not(input) {
  user-select : none;
}

/**
 * Disabling tap highlight
 * Специфичное свойство, не существует в виде tap-highlight-color, а соответственно и не поддерживается в autoprefixer.
 * FIXME Возможно этот вендор-хак следует просто удалить.
 */
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
